//
// Estilos básicos
//

@import "attache/attache";
@import "icons", "fonts", "variables";

body {
  font-family: $font-texto;
  margin: 0;
  padding: 0;
}

.cf {
  @include clearfix;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
}

header {
  position: relative;
  z-index: 900;
  border-top: 4px solid $verde;
  @include box-shadow(0 1px 2px #ccc);

  .container {
    position: relative;
    @include clearfix();
  }
}
#logo {
  display: block;
  width: 250px;
  padding: 20px 0;
  height: 52px;
  margin: 0 auto 0;
  background: url(/img/logo.png) no-repeat 50%/100%;
  text-indent: -100%;
}
#nav-principal {
  text-align: center;

  a {
    display: inline-block;
    padding: 10px;

    text-decoration: none;
    color: #444;

    &:hover {
      color: $verde;
    }
    &:active {
      color: #000;
    }
  }

  li {
    display: inline;
  }
}
.nav-paginas {
  text-transform: uppercase;
}

footer {
  background: #282828;
  border-top: 4px solid $verde;
  color: #fff;

  .container {
    min-height: 180px;
    position: relative;
  }
}
#logo-fundar {
  display: block;
  width: 200px;
  height: 50px;
  margin: 40px 0 0;
  background: url(/img/logo-fundar.png) no-repeat 50%/100%;
}
#nav-footer {
  position: absolute;
  right: 0;
  bottom: 0;

  a {
    text-decoration: none;
    color: #ccc;

    &:hover {
      color: $verde;
    }
    &:active {
      color: #fff;
    }
  }

  li {
    display: inline;
  }
}
#copyright {
  position: absolute;
  left: 0;
  bottom: 5px;

  font-size: 12px;
  color: #666;
}
.footer-paginas {
  margin: 0 0 40px;

  a {
    display: block;
    text-align: right;
    padding: 5px 10px;
  }
}
.footer-otros {
  text-align: right;

  a {
    display: inline-block;
    padding: 10px;

    font-size: 12px;
  }
}

@media screen and (min-width: 800px) {
  #nav-principal ul {
    display: inline;
  }
}

@media screen and (min-width: 1078px) {
  #logo {
    margin: 0;
  }
  #nav-principal {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}