//
// Estilo para hoja de estado
//

@import "main";

.texto-descriptivo {
	font-size: 13px;
}

.estado {
	padding: 20px 0;
	h1 {
		font-size: 36px;
		font-weight: normal;
		text-transform: uppercase;
		text-align: center;
	}

	.posicion {
		float: right;
		margin: 0;
		color: #4b4b4b;
	}
	.no {
		display: inline;
		margin: 0;

		color: #000;
		font-size: 38px;
		font-family: $font-titulos;
		text-align: center;
	}
}

.criterio {
	stroke: #444;
	stroke-width: 2;
	fill-opacity: 0.6;
	cursor: pointer;

	&:hover {
		fill-opacity: 0.8;
	}
	&.activo {
		fill-opacity: 1;
	}
}

.eje, .indicador {
	stroke: #000;
	stroke-width: 2;
	fill-opacity: 1;
	cursor: pointer;

	&:hover {
		fill-opacity: 0.5;
	}

	&.activo {
		display: none;	
	}
}
.indicador {
	stroke: #222;
}

#calificacion {
	color: #4b4b4b;
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	line-height: 1;

	margin: 0;
}
#nombre {
	color: #000;
	font-size: 20px;
	text-align: center;
	line-height: 1.2;

	margin: 10px 0;
}
#descripcion {
	color: #4b4b4b;
	text-align: center;
}
.descargar {
	display: block;
	width: 250px;
	padding: 20px 10px;
	margin: 20px auto 60px;

	background: $verde;
	color: #fff;

	text-align: center;
	text-decoration: none;
}