//
// Estilo principal IDAIM
//

@import "main";

#hero {
  position: relative;
  z-index: 800;
  background: url(/img/bg-featured.jpg) center center no-repeat;
  @include clearfix;
}
#hero-text {
  width: 280px;
  padding: 15px 0;
  margin: 60px auto 20px;
  border-bottom: 1px solid #A2A2A2;

  text-align: center;
}
.hero-text {
  display: block;
  padding: 5px 0;

  color: $gris;
  font-size: 24px;
  font-family: $font-titulos;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #fff;
  line-height: 1;

  &.l2, &.l6 {
    text-transform: none;
  }
  &.l5, &.l8 {
    color: $verde;
  }
  &:nth-child(even) {
    font-family: $font-texto;
  }

  &.l1, &.l7 { font-size: 48px;}
  &.l2, &.l6, &.l8 { font-size: 16px;}
  &.l3 { font-size: 36px;}
  &.l4 { font-size: 24px;}
  &.l5 { font-size: 38px;}
}

header {
  padding-top: 30px;
}

#idaim-2010 {
  background: $verde;
  background: transparentize($verde, 0.05);
  text-align: center;

  margin: 0;
  z-index: 1000;
  width: 100%;
  & p {
    margin: 0;
  }
  & a {
    color: #fff;
    font-size: 1.5em;
    line-height: 1.5em;
    position: relative;
    margin: 0;
    text-decoration: none;
  }
}

#nacional p {
  font-size: 18px;
  color: #4b4b4b;
}

#geolocation {

  & h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #4b4b4b;
    font-weight: normal;
    margin-top: 50px;
  }

  & img {
    float: left;
    margin: 0 1em;
  }

  & select {
    font: inherit;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 100;
    line-height: 2em;
    padding: 0 2em 0 .5em;
    display: block;
    background: #f2f2f2 url(/img/select-arrow.png) 97% 50% no-repeat;
    -webkit-appearance: none;
    border: 1px solid #c7c7c7;
  }

  @include clearfix();
}

#nombre-variable {
  font-size: 13px;
  font-weight: 100;
  text-align: center;
  line-height: 1;

  margin: 0 0 10px;
}
.descripcion-variable {
  border: 1px solid #ccc;
  padding: 0 10px;
  margin: 20px auto 0;
  background: #fff;



  @include box-sizing(border-box);
  @include box-shadow(0 1px 2px rgba(0,0,0,0.1));

  p#descripcion-variable {
    margin: 10px 0;
    font-size: 12px;
    color: #4B4B4B;
  }
}


#nacional .container {
  padding: 0 0 40px;
  position: relative;
}
.texto-total {
  width: 120px;
  text-align: center;

  h2, h3 {
    margin: 0;
  }
  h2 {
    font-size: 40px;
    line-height: 1;
    color: #3a3a3a;
  }
  h3 {
    font-size: 12px;
    font-weight: normal;
  }
}
#total-nacional-cont {
  margin: 0 auto;
  width: 200px;
}
#total-ultimo {
  float: left;
}
#total-primero {
  float: right;
}


.sec {
  padding: 40px 0;
}
.sec-a {
  background: #f5f5f5;
  border-top: 2px solid #D0D0D0;
}
.sec-b {
  background: #fcfcfc;
  border-top: 2px solid #EAEAEA;
}

.barra-container {
  display: block;
}

.barra-container:after {
  content: ' ';
  display: block;
  clear: both;
}

.barra-label {
  width: 20%;
  float: left;
}

.barra {
  background: #333;
  margin-left: 20%;
  height: 10px;
  margin-bottom: 5px;
}

.chart {
  display: block;
  margin: auto;
  margin: 10px 0;
  font-size: 11px;
}

#graph-total {
  g.activo rect {
    fill-opacity: 1;
    stroke: #fff;
    stroke-width: 8;
    z-index: 1000;
  }
  rect {
    stroke: #fff;
    fill-opacity: 1;

    cursor: pointer;

    @include transition(fill-opacity 0.2s linear);

    &:hover {
      fill-opacity: 1;
    }
  }
  text {
    pointer-events: none;
    text-anchor: middle;
  }
}

#graph-indices-nacional {
  .tick line {
    stroke : #000;
  }
  .tick.estado-nacional {
    font-weight: bold;
    fill: #aaa;
  }

  .domain {
    fill: none;
    stroke: #000;
  }
  .eje {
    font-size: 12px;
  }
  .linea {
    stroke: #fff;
    opacity: 0.3
  }

  .eje.y text {
    cursor: pointer;
    -webkit-user-select: none;
    &:hover {
      font-weight: bold;
    }
    &:active {
      fill: $verde;
    }
  }
}

#mapa {
  background: url(/img/bg-mapa.png) no-repeat 100% 100%;
}
#mapa .container {
  position: relative;
}
.estado-hover {
  background: #f5f5f5;

  border: 1px solid #ccc;
  padding: 10px;
  margin: 0 auto;
  text-align: center;

  width: 100%;
  max-width: 280px;

  @include box-sizing(border-box);
  @include box-shadow(0 2px 3px rgba(0,0,0, 0.1))
}
#estado-hover-nombre {
  margin: 0;

  line-height: 1;
}
#estado-hover-calificacion {
  margin: 0;

  font-size: 36px;
  line-height: 1;
}

@media screen and (min-width: 800px) {
  .estado-hover {
    position: absolute;
    top: 100px;
    right: 20px;
  }
}

@media screen and (min-width: 1078px) {
  #hero-text {
    float: left;
  }
  #mapita {
    float: right;
    width: 700px;
    height: 353px;
    margin: 60px 0;

    background: url(/img/mapa.png) no-repeat 0 0/700px 353px;
  }

  #nombre-variable {
    font-size: 24px;
  }
  .descripcion-variable {
    margin: -60px auto 0;
    width: 700px;
  }
}
